# --- Frontend (Node.js) ---
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Backend (Python) ---
__pycache__/
*.pyc
.env
venv/
env/

# --- System & Editor ---
.DS_Store
.vscode/
.idea/
*.log