name: Sync Backend to Hugging Face

on:
  push:
    branches: [main]
    paths:
      - 'sidiktaut_web/backend/**'

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to Hugging Face Space
        # GANTI JADI v0.0.5 (INI YANG BENAR)
        uses: nateraw/huggingface-sync-action@v0.0.5
        with:
          repository: 'yudhadevsec/Sidiktaut' 
          token: ${{ secrets.HF_TOKEN }}
          directory: './sidiktaut_web/backend'